body
{
	width:100%;
	text-align:center;
	background-image:url("Pictures/house_lights_windows_yard_110184_3840x2160.jpg");
	background-size:100% 100%;
	background-color:#DEDEDE;
	background-attachment:fixed;
	font-family: 'Work Sans', sans-serif;
	font-size:2em;
	color:#212121;
	overflow-y: hidden;
	overflow-x: hidden;
}

.page
{
	position:fixed;
	left:25%;
	top:-1em;
	display:inline;
	height:100%;
	width: 50%;
	background-color:white;
	z-index:1;
	opacity:0.6;
}


.navMenu
{
	top:-10em;
	vertical-align:middle;
	position:fixed;
	display:block;
	left:0em;
	height:100em;
	width:6em;
	background-color:white;
	opacity: 0.4;
}

.navButtons
{
	position:relative;
	top:10em;
}


.scaleup
{
	width:60%;
	height:60%;
}

.scaledown
{
	width:55%;
	height:55%
}

#scaleup
{
	width:60%;
	height:60%;
}

#scaledown
{
	width:3%;
	height:3%
}

p span
{
	color:white;
	line-height:0.1px;
	font-size:16px;
	position:relative;
	top:55em;
}

.social
{
	position:fixed;
	bottom:0.2em;
	left:-13.7em;
	display:inline;
}
