body
{
	text-align:center;
	background-color:#DEDEDE;
	font-family: 'Work Sans', sans-serif;
	font-size:2em;
}

h1
{
	top:6em;
	text-align:center;
	font-size:3em;
}

.navMenu
{
	top:-10em;
	vertical-align:middle;
	position:fixed;
	display:block;
	left:0em;
	height:100em;
	width:7em;
	background-color:#757575;
	opacity: 0.5;
}

.input {
  display: block;
}

.input span {
  position: absolute;
  z-index: 1;
  cursor: text;
  pointer-events: none;
  color: #999;
  /* Input padding + input border */
  padding: 7px;
  /* Firefox does not respond well to different line heights. Use padding instead. */
  line-height: 17px;
  /* This gives a little gap between the cursor and the label */
  margin-left: 2px;
}

.input input, .input textarea, .input select {
  z-index: 0;
  padding: 6px;
  margin: 0;
  font: inherit;
  line-height: 17px;
}

.input select {
  padding: 5em;
  /* Unfortunately selects don't respond well to padding. They need an explicit height. */
  height: 31px;
}

.form
{
	position:relative;
	top:20em;
	text-align:center;
	font-size:18px;
}

.send
{
    width:10%;
	background-color: #757575;
    color: #212121;
    padding: 1em;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* the dropdown menu buttons */

/* Style The Dropdown Button */
.dropbtn
{
    background-color: #757575;
    color: #212121;
    padding: 1em;
	width:100%;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown
{
	z-index:1;
    position:relative;
	vertical-align:middle;
	width:100%;
	font-family: 'Work Sans', sans-serif;
	top:10em;
	left:0em;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content
{
	font-family: 'Work Sans', sans-serif;
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a
{
	font-family: 'Work Sans', sans-serif;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover
{
	background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content
{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn
{
    background-color:White;
}

#button
{
	margin:auto;
	text-decoration:none;
	color:white;
}